{  
  "presets": ["es2015"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "routes": "./src/routes",
          "models": "./src/models",
          "controllers": "./src/controllers",
          "middlewares": "./src/middlewares",
          "constants": "./src/constants",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}